name: VDR Creation

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request: # prs don't get secrets, but the API works (albeit 10x slower) without the api key
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Set up Python 3.13
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Download ojvg
      env:
        NIST_NVD_TOKEN: ${{ secrets.NIST_NVD_TOKEN }}
      run: |
        mkdir -p data
        python3 ojvg_download.py
        python3 ojvg_convert.py
    - name: Upload data directory (for debugging/introspection)
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: data directory
        path: data
    - name: Upload final vdr
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: final vdr
        path: data/vdr.json
