name: VDR Creation

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request: # prs don't get secrets, but the API works (albeit 10x slower) without the api key
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

    - name: Set up Python 3.10
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Download ojvg
      env:
        NIST_NVD_TOKEN: ${{ secrets.NIST_NVD_TOKEN }}
      run: |
        mkdir -p data
        python3 ojvg_download.py
        python3 ojvg_convert.py
    - name: Upload data directory (for debugging/introspection)
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      with:
        name: data directory
        path: data
    - name: Upload final vdr
      uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
      with:
        name: final vdr
        path: data/vdr.json
